.item-list-container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .item-list-container .itemlist{
    display: flex;
    flex-wrap: wrap;
  }

  .item-list-container .item{
    width: 20%;
    margin: 3% 6%;
    padding: 2%;
    border: 2px solid rgb(37, 37, 37);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .item .img-item{
    width: 100%;
    border-radius: 1%;
    background-color: rgb(39, 39, 39);
  }
  .item .text-item{
    padding: 1% 0;
  }